// TodoCard.scss

.todo-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &.completed {
    text-decoration: 3px line-through;
    color: black;
  }

  h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
  }

  h4 {
    font-size: 14px;
    color: #999;
    margin: 5px 0;
  }

  p {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;

    &.completed-btn {
      color: grey;

      &.completed {
        color: gold;
      }
    }

    &.edit-btn {
      color: #6200ea;
    }

    &.delete-btn {
      color: #e91e63;
    }
  }
}
