// TodoContainer.scss

.todo-container {
  width: 95%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;

    h1 {
      margin: 0;
      font-size: 40px;
      color: #333333;
    }

    .add-task-btn {
      background-color: #6200ea;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #4500b5;
      }
    }

    select {
      border: 1px solid #e0e0e0;
      padding: 15px; /* Increase padding to make it larger */
      font-size: 18px; /* Increase font size */
      border-radius: 5px;
      background-color: #ffffff;
      color: #333333;
      cursor: pointer;
    }
  }

  .add-task-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;

    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 5px;
      font-size: 22px;
      color: black;
      background-color: white;
    }

    .add-btn {
      background-color: #6200ea;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 22px;

      &:hover {
        background-color: #4500b5;
      }
    }
  }
}
